@import "layout";

/**
* h5smpl - responsive HTML/CSS template
* https://github.com/mastersign/h5smpl
*
* Tobias Kiertscher (http://www.mastersign.de)
*
* STYLE ROBOTO
* Contains a dark theme around the font family "Roboto" from Christian Robertson.
*/

@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,400italic,700,700italic,300,300italic);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic,300,300italic);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:400,600,200);

@body-bg: #000;
@page-bg: #2D2D2D;
@page-shaddow: #204080;
@fg: #D0D8E0;
@headline-color: #80B8FF;

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 14px;
	line-height: 140%;
}

h1, h2, h3, h4, h5, h6, figure figcaption, footer, aside, table, blockquote {
	font-family: 'Roboto Condensed', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	text-decoration: none;
}

h6 {
	font-weight: 300;
}

em {
	font-weight: 300;
	font-style: italic;
}

strong {
	font-weight: 400;
	font-style: italic;
}

@insert-fg: #90FFCF;
@deleted-fg: #E080C0;
@mark-border: @span-border-width @span-border-style mix(@page-bg, @mark-bg, 60%);

mark
{
	font-weight: 400;
}

@section-sep-border: 1px solid #3F486F;
@block-border: @section-sep-border;
@block-bg: #222;

header h1, section, footer, nav, nav.vertical, nav.horizontal, hr {
	border-color: #3F4F8F;
}

blockquote {
	font-weight: 400;
	font-style: normal;
}

blockquote cite {
	font-weight: 300;
	font-size: 0.85em;
}

a {
	font-weight: 400;
}
@link-fg: #FF50C8;

code {
	font-family: 'Source Code Pro', monospace;
	font-size: 0.9em;
	font-weight: 400;
}
@code-fg: #ACF;
@code-sh-kw: #48F;
@code-sh-fu: #2A9;
@code-sh-dt: #D6A;
@code-sh-bn: #56F;
@code-sh-dv: #86F;
@code-sh-fl: #B6F;
@code-sh-ch: #AC0;
@code-sh-st: #4B0;
@code-sh-co: #89B;
@code-sh-ot: #89B;
@code-sh-al: #D00;
@code-sh-er: #D02;
@code-sh-re: #A60;

figure figcaption {
	font-weight: 400;
	font-size: 0.9em;
}

footer {
	font-size: 1em;
	color: #6F80AF;
}

aside {
	font-size: 0.9em;
}

table, td, th {
	font-weight: 300;
}

thead td, tfoot td, th {
	font-weight: 700;
}
