@body-bg: #F0F0F0;
@page-bg: #FFF;
@page-shaddow: #808080;

@fg: #000;
@footer-fg: #888;
@section-sep-border: 1px solid #AAA;

@color-default: hsl(200, 10%, 60%);
@color-fg-default: darken(@color-default, 40%);
@color-bd-default: @color-default;
@color-bg-default: lighten(@color-default, 30%);
@color-highlight: hsl(180, 60%, 40%);
@color-fg-highlight: darken(@color-highlight, 40%);
@color-bd-highlight: @color-highlight;
@color-bg-highlight: lighten(@color-highlight, 30%);
@color-success: hsl(105, 60%, 35%);
@color-fg-success: darken(@color-success, 40%);
@color-bd-success: @color-success;
@color-bg-success: lighten(@color-success, 30%);
@color-info: hsl(55, 90%, 40%);
@color-fg-info: darken(@color-info, 40%);
@color-bd-info: @color-info;
@color-bg-info: lighten(@color-info, 40%);
@color-warning: hsl(30, 90%, 40%);
@color-fg-warning: darken(@color-warning, 40%);
@color-bd-warning: @color-warning;
@color-bg-warning: lighten(@color-warning, 30%);
@color-error: hsl(355, 70%, 45%);
@color-fg-error: darken(@color-error, 40%);
@color-bd-error: @color-error;
@color-bg-error: lighten(@color-error, 30%);
@color-passive: hsl(0, 0%, 65%);
@color-fg-passive: darken(@color-passive, 40%);
@color-bd-passive: @color-passive;
@color-bg-passive: lighten(@color-passive, 30%);
@color-active: hsl(205, 70%, 45%);
@color-fg-active: darken(@color-active, 40%);
@color-bd-active: @color-active;
@color-bg-active: lighten(@color-active, 30%);

@link-fg: #0850ff;
@link-visited: desaturate(@link-fg, 50%);
@link-hover: lighten(saturate(@link-fg, 20%), 15%);
@link-active: #DC143C;

@span-border-radius: 0.25em;
@span-padding: 0 0.2em;
@span-border-width: 1px;
@span-border-style: solid;

@insert-fg: #062;
@deleted-fg: #F44;
@mark-bg: #FF9;
@mark-border: @span-border-width @span-border-style #DD6;
@mark-fg: #000;

@block-border: 1px solid #DDD;
@block-border-radius: 0.5em;

@blockquote-border: @block-border;
@blockquote-border-radius: @block-border-radius;

@pre-border: @block-border;
@pre-border-radius: @block-border-radius;

@code-fg: #024;
@code-bg: #F6F6F6;
@code-border: @span-border-width @span-border-style #E4E4E4;
@code-border-radius: @span-border-radius;

@code-sh-kw: #06D;
@code-sh-fu: #098;
@code-sh-dt: #903;
@code-sh-bn: #00E;
@code-sh-dv: #40B;
@code-sh-fl: #80A;
@code-sh-ch: #890;
@code-sh-st: #480;
@code-sh-co: #678;
@code-sh-ot: #678;
@code-sh-al: #D00;
@code-sh-er: #D02;
@code-sh-re: #A60;

@cell-border: @block-border;
@table-head-bg: @body-bg;
@table-foot-bg: @body-bg;

@figure-border: @block-border;
@figure-border-radius: @block-border-radius;
@figure-align: center;

@aside-border: @block-border;
@aside-border-radius: @block-border-radius;

@badge-border-width: 1px;
@badge-border-style: solid;
@badge-border-radius: 0.33em;
