/**
 * h5smpl - responsive HTML/CSS template
 * https://github.com/mastersign/h5smpl
 *
 * Tobias Kiertscher (http://www.mastersign.de)
 * 
 * VARS
 * Contains variables which are used in BASE and LAYOUT.
 * They can be overriden by styles.
 */

@body-bg: #F0F0F0;
@page-bg: #FFF;
@page-shaddow: #808080;

@fg: #000;
@headline-color: @fg;
@footer-fg: #888;
@section-sep-border: 1px solid #AAA;

@color-default: hsl(200, 10%, 60%);
@color-fg-default: mix(@fg, @color-default, 70%);
@color-bd-default: @color-default;
@color-bg-default: mix(@page-bg, @color-default, 70%);
@color-highlight: hsl(180, 100%, 42%);
@color-fg-highlight: mix(@fg, @color-highlight, 70%);
@color-bd-highlight: @color-highlight;
@color-bg-highlight: mix(@page-bg, @color-highlight, 70%);
@color-success: hsl(105, 100%, 40%);
@color-fg-success: mix(@fg, @color-success, 70%);
@color-bd-success: @color-success;
@color-bg-success: mix(@page-bg, @color-success, 70%);
@color-info: hsl(55, 100%, 47%);
@color-fg-info: mix(@fg, @color-info, 70%);
@color-bd-info: @color-info;
@color-bg-info: mix(@page-bg, @color-info, 70%);
@color-warning: hsl(30, 100%, 48%);
@color-fg-warning: mix(@fg, @color-warning, 70%);
@color-bd-warning: @color-warning;
@color-bg-warning: mix(@page-bg, @color-warning, 70%);
@color-error: hsl(355, 90%, 48%);
@color-fg-error: mix(@fg, @color-error, 70%);
@color-bd-error: @color-error;
@color-bg-error: mix(@page-bg, @color-error, 70%);
@color-passive: hsl(0, 0%, 65%);
@color-fg-passive: mix(@fg, @color-passive, 30%);
@color-bd-passive: mix(@page-bg, @color-passive, 50%);
@color-bg-passive: mix(@page-bg, @color-passive, 80%);
@color-active: hsl(205, 100%, 45%);
@color-fg-active: mix(@fg, @color-active, 70%);
@color-bd-active: @color-active;
@color-bg-active: mix(@page-bg, @color-active, 70%);

@link-fg: #0850ff;
@link-visited: mix(@page-bg, @link-fg, 30%);
@link-hover: mix(@fg, saturate(@link-fg, 50%), 50%);
@link-active: spin(@link-fg, 100);

@span-border-radius: 0.25em;
@span-padding: 0 0.25em;
@span-border-width: 1px;
@span-border-style: solid;

@insert-fg: #093;
@deleted-fg: #F44;
@mark-bg: #FF0;
@mark-border: @span-border-width @span-border-style mix(@page-bg, @mark-bg, 30%);
@mark-fg: @fg;

@block-border: 1px solid #DDD;
@block-border-radius: 0.5em;
@block-bg: @page-bg;

@blockquote-border: @block-border;
@blockquote-border-radius: @block-border-radius;

@pre-border: @block-border;
@pre-border-radius: @block-border-radius;

@code-fg: #024;
@code-bg: mix(@fg, @page-bg, 5%);
@code-border: @span-border-width @span-border-style mix(@code-fg, @page-bg, 20%);
@code-border-radius: @span-border-radius;

@code-sh-kw: #06D;
@code-sh-fu: #098;
@code-sh-dt: #903;
@code-sh-bn: #00E;
@code-sh-dv: #40B;
@code-sh-fl: #80A;
@code-sh-ch: #890;
@code-sh-st: #480;
@code-sh-co: #678;
@code-sh-ot: #678;
@code-sh-al: #D00;
@code-sh-er: #D02;
@code-sh-re: @code-fg;

@cell-border: @block-border;
@table-head-bg: mix(@fg, @page-bg, 5%);
@table-foot-bg: @table-head-bg;

@figure-border: @block-border;
@figure-border-radius: @block-border-radius;
@figure-align: center;

@aside-border: @block-border;
@aside-border-radius: @block-border-radius;

@badge-border-width: 1px;
@badge-border-style: solid;
@badge-border-radius: 0.33em;

@side-menu-width: 13em;
@nested-menu-ident: 0.75em;